/*
* @Author: waite
* @Date:   2017-12-17 22:21:17
* @Last Modified by:   waite
* @Last Modified time: 2017-12-22 20:38:48
*/
.text_justify:after {
	display: inline-block;
    width: 100%;
    content: '';
    font-size: 0;
    height: 0;
    line-height: 0;
    visibility: hidden;
}
.banner-box {
	background: url('../images/dx_1.png') no-repeat;
	position: relative;
	background-size: 100% 100%
}
.banner_ctn {
	width:680px;
	height:500px;
	margin:0 auto;
	text-align: center;
	color:#fff;
	position: absolute;
	left:50%;
	margin-left:-340px;
	top:50%;
	margin-top:-250px;
}
.banner_ctn h2 {
	margin-bottom: 20px;
	font-size:68px;
	height:130px;
	line-height: 130px;
	text-align: justify;
    text-align-last: justify;
    text-shadow: 0 0 30px #1CA3FC;
    border-bottom:1px solid #fff;
}
.banner_ctn h4 {
	font-size: 30px;
	height:48px;
	line-height: 48px;
	font-weight: normal;
	font-family: '微软雅黑';
	text-align: justify;
    text-align-last: justify;
}
.banner_ctn p {
	font-size: 18px;
	height:18px;
	text-align: justify;
    text-align-last: justify;
    margin-top:20px;
}
.banner_btnWarpper {
	background-color: #fff;
	border-radius: 10px;
	height:70px;
	margin-top:30px;
	padding:10px 15px;
	box-sizing: border-box;
	font-size:0;
	box-shadow: 0 0 15px #1595eb
}
.banner_btnWarpper a {
	float: left;
	width:325px;
	height:50px;
	line-height: 50px;
	color:#01083F;
	font-size:18px;
	font-weight: bold;
}
.banner_btnWarpper a.active {
	background-color: #FFC800;
}
.tel_img_icon {
	display: inline-block;
	width:60px;
	height:45px;
	background: url('../images/tel_img.png');
	background-size: 100% 100%;
}
.tel_box {
	text-align: center;
	font-size:24px;
	margin-top: 30px;
}

.dx_warpper_1 {
	width:1120px;
	margin:0 auto;
	text-align: center;
}
.dx_title {
	font-size:40px;
	color:#1CA3FC;
	text-align: center;
	letter-spacing: 8px;
	line-height: 80px;
}
.dx_title-bg_disc {
	display: inline-block;
	width:340px;
	padding:0 20px;
	line-height: 26px;
	font-size:16px;
	color:#fff;
	background: url('../images/dx_34.png') no-repeat;
	background-size: 100% 100%;
	letter-spacing: 5px;
}
.dx_w_1_gs {
	width:100%;
	margin:20px auto;
}

.dx_w_1_cantainer {
	width:100%;
	margin-top:30px;
	position: relative;
	height:460px;
}

.dx_w_1_c_l {
	position: absolute;
	left:55px;
	top:0;
	width:495px;
	text-align: left;
}
.dx_w_1_c_m {
	position: absolute;
	left:550px;
	top:60px;
	width:20px;
	height:400px;
	background-color: #FFC800;
}
.dx_w_1_c_r {
	position: absolute;
	right:55px;
	top:0;
	width:495px;
	text-align: right;
}

.dx_w_1_c_l_list {
	display: inline-block;
	width:328px;
	height:164px;
	background: url('../images/dx_4.png') no-repeat;
	background-size: 100% 100%;
	margin-bottom: 20px;
	border-radius: 45px;
	box-sizing: border-box;
	border:3px dashed #FFC800;
	overflow: hidden;
	position: relative;
	z-index: 10;
}
.dx_w_1_c_l_list.dx_w_1_2 {
	background: url('../images/dx_6.png') no-repeat;
	background-size: 100% 100%;
}
.dx_w_1_c_l_list.dx_w_1_3 {
	background: url('../images/dx_3.png') no-repeat;
	background-size: 100% 100%;
}
.dx_w_1_c_l_list.dx_w_1_4 {
	background: url('../images/dx_5.png') no-repeat;
	background-size: 100% 100%;
}
.dx_w_1_list-ctn {
	background: rgba(0,0,0,.4);
	width:328px;
	height:164px;
	color:#fff;
	box-sizing:border-box;
	padding:20px 30px;
	transition: all .2s ease;


}
.dx_w_1_list-ctn:hover {
	background: rgba(255,255,255,1);
	color:#1B2C5E
}
.dx_w_1_list-ctn p {
	margin:0;
	line-height: 40px;
	font-size:16px;
	letter-spacing: 6px;
}
.dx_w_1_c_r .dx_w_1_list-ctn {
	text-align: left;
}
.dx_w_1_c_r .dx_w_1_list-ctn h4 {
	margin:0;
	line-height: 80px;
	font-size:18px;
	text-align: center;
}
.dx_w_1_c_r .dx_w_1_list-ctn a {
	display: inline-block;
	width:100%;
	line-height: 38px;
	height:38px;
	border-radius: 19px;
	background-color: #FFC800;
	color:#202B53;
	font-size:16px;
	text-align: center;
}
.dx_w_1_c_r .dx_w_1_list-ctn a:hover {
	background-color: #1CA3FC;
	color:#fff;
}
.dx_w_1_c_m-ctn {
	position: relative;
}
.position_logo_1,.position_logo_2 {
	position: absolute;
	top:-20px;
	left:-30px;
	background: #FFC800 url('../images/dx_42.png') center center no-repeat;
	background-size: 70px 70px;
	overflow: hidden;
	width:80px;
	border-radius: 50%;
	height:80px;
	z-index: 10;
}
.position_logo_2 {
	top:160px;
}
.position_box {
	display: inline-block;
	height:20px;
	line-height: 20px;
	width:200px;
	text-align: center;
	font-size:18px;
	color:#202B53;
}
.dx_w_1_c_l .p_b_1 {
	position: absolute;
	right:0;
	top:60px;
	border-bottom:1px dashed #FFC800;
	z-index: 9;
}
.dx_w_1_c_r .p_b_1 {
	position: absolute;
	left:0;
	top:60px;
	border-bottom:1px dashed #FFC800;
	z-index: 9;
}

.dx_w_1_c_l .p_b_2 {
	position: absolute;
	right:0;
	top:240px;
	border-bottom:1px dashed #FFC800;
	z-index: 9;
}
.dx_w_1_c_r .p_b_2 {
	position: absolute;
	left:0;
	top:240px;
	border-bottom:1px dashed #FFC800;
	z-index: 9;
}

.dx_warpper_2 {
	width:100%;
	position: relative;
	background-color: #ffc800;
	height:700px;
}
.dx_warpper_2 .dx_title {
	position: relative;
	z-index: 10;
}
.dx_w_2_l {
	position: absolute;
	left:0;
	top:0;
	height:700px;
	width:50%;
	background-color: #FFC800;
	z-index: 9;
}

.dx_w_2_r {
	position: absolute;
	right:0;
	top:0;
	height:700px;
	width:50%;
	background: url('../images/dx_7.png') no-repeat;
	background-size: 100% 100%;
	z-index: 8;
}

.dx_w_2_navWarp {
	position: absolute;
	right:0;
	top:160px;
	width:120px;
	height:385px;
}
.dx_w_2_navWarp .dx_w_2_nav {
	list-style: none;
}
.dx_w_2_navWarp .dx_w_2_nav li {
	text-align: center;
	background-color: #fff;
	color:#000;
	line-height: 50px;
	height:50px;
	margin-bottom: 5px;
	font-size:16px;
	cursor: pointer;
	position: relative;
	transition: all .5s linear;
	-o-transition: all .5s linear;
	-webkit-transition: all .5s linear;
}
.dx_w_2_navWarp .dx_w_2_nav li.active {
	box-shadow: -2px 2px 5px #ddd;
	width:130px;
	left:-10px;
}
.dx_w_2_navWarp .dx_w_2_tab {
	position: absolute;
	right:-15px;
	top:10px;
	width:30px;
	height:30px;
	border-radius: 50%;
	background: #fff url('../images/right_arrow_153.35265700483px_1209016_easyicon.png') center center no-repeat;
	background-size: 20px;
	box-shadow: 0 0 6px #aaa;
	transition: all .2s linear;
	-webkit-transition: all .2s linear;
	-o-transition: all .2s linear;
}
.dx_w_2_r_cotent {
	position: absolute;
	left:0;
	top:160px;
	width:560px;
}
.dx_w_2_r_cotent .dx_w_2_r_list {
	display: none;
	color: #fff;
	padding-left:80px;
	height:385px;
}
.dx_w_2_r_cotent .dx_w_2_r_list.active {
	display: block;
}
.dx_w_2_r_list.list6 .dx_w_2_kc_list {
	height:72px;
	padding:12px 0;
	box-sizing: border-box;
	border-bottom: 1px solid #FFC800;
}
.dx_w_2_r_list.list6 .dx_w_2_kc_list span {
	float: left;
	width:80px;
	height:48px;
	line-height: 48px;
	font-size:26px;
	font-weight: bold;
	color:#ffc800;
}
.dx_w_2_r_list.list6 .dx_w_2_kc_list p {
	float: left;
	box-sizing: border-box;
	width:400px;
	line-height: 22px;
	font-size:16px;
}
.bx_w_2_list_btn {
	display: block;
	width:480px;
	height: 48px;
	background-color: transparent;
	color:#fff;
	border:1px solid #fff;
	box-sizing: border-box;
	border-radius: 24px;
	line-height: 46px;
	position: absolute;
	bottom: 0;
	left:80px;
	font-size: 20px;
}
.bx_w_2_list_btn:hover {
	background-color: #FFC800;
	color:#fff;
	border-color: #FFC800;
}

/* ---------------------------------- */

.dx_w_2_r_list_warpper table {
	border-collapse:collapse;
}
.dx_w_2_r_list_warpper tr {
	height:28px;
	line-height: 28px;
}
.dx_w_2_r_list_warpper td {
	width:100px;
	text-align: center;
	font-size:15px;
}
.dx_w_2_r_list_warpper .tr_line tr:last-child {
	padding-bottom: 8px;
}
.dx_w_2_r_list_warpper tr td:last-child {
	width:150px;
	text-align: left;
	padding-left:10px;
}
.tr_line {
	border-bottom: 1px solid #FFC800;
}
.dx_w_2_r_list_warpper tr td.tr_title {
	font-size:30px;
	color:#FFC800;
	font-weight: bold;
}
.dx_w_2_r_list_warpper .dx_w_2_r_list-2-title {
	font-size:30px;
	line-height: 40px;
}
.dx_w_2_r_list_warpper .dx_w_2_r_list-2-title strong {
	color:#FFC800;
	padding-right: 40px;
}
.dx_w_2_r_list_warpper h5 {
	margin:48px 0;
	font-size:18px;
	line-height: 30px;
	font-weight: normal;
}
.dx_w_2_r_list_warpper p {
	font-size:18px;
	line-height: 30px;
	letter-spacing: 3px;
}

.dx_w_2_r_list_warpper .dx_w_2_r_l-last-title {
	color:#FFC800;
	font-size:30px;
	width:320px;
	line-height: 60px;
	text-align: justify;
	text-align-last: justify;

}
.dx_w_2_r_list_warpper .dx_w_2_r_l-last-txt {
	width:320px;
	margin:40px 0;
	text-align: justify;
	text-align-last: justify;
}
.dx_w_2_r_l-lasttxt {
	width:320px;
	color:#FFC800;
	text-align: justify;
	text-align-last: justify;
}
.width320 {
	width:320px!important;
}





.dx_w_3_container {
	width:1120px;
	margin:30px auto;
}

.dx_w_3_container ul {
	list-style: none;
}
.dx_w_3_container .dx_w_3_list {
 	width:50%;
 	float: left;
 	margin-bottom: 30px;
}
.nth2.dx_w_3_list .dx_w_3_list_warpper {
	margin-left: 73px;
}
.dx_w_3_list_warpper {
	display: inline-block;
	width:487px;
}
.dx_w_3_list_head {
	width:100%;
	height:201px;
	margin-bottom: 15px;
}

.dx_w_3_list_head ._head_img {
	float: left;
	width:201px;
	height:201px;
}

.dx_w_3_list_head ._head_info { 
	float: right;
	width:230px;
	padding:15px 0;
}
.dx_w_3_list_head ._head_info h4 {
	line-height: 60px;
	border-bottom: 1px solid #F73737;
	font-size:28px;
	font-weight: bold;
	color:#1CA3FC;
	text-align: center;
}
.dx_w_3_list_head ._head_info p {
	font-size:20px;
	color:#333;
	line-height: 34px;
	text-align: justify;
	text-align-last:justify;
}
.dx_w_3_list_head ._head_info p span {
	color:#F73737;
}
.dx_w_3_list_head ._head_info p span.bold {
	font-weight: bold;
}

.dx_w_3_warp p {
	margin:10px 0;
	height:30px;
	background-color: #EEEEEE;
	color:#000;
	text-align: center;
	font-size: 16px;
	line-height: 30px;
}
.dx_w_3_score {
	width:100%;
	border:1px solid #DBDBDB;
	box-sizing: border-box;
}
.dx_w_3_score img {
	width:100%;
}


.dx_btn {
	display: block;
	width:1120px;
	margin:0 auto;
	background-color: #FBD42F;
	text-align: center;
	line-height: 48px;
	height:48px;
	border-radius: 24px;
	font-size:20px;
	color:#464747;
}
.dx_btn:hover {
	background-color: #1CA3FC;
	color:#fff;
}

.dx_warpper_4 {
	margin-top:50px;
	padding-top: 10px;
	background-color: #eee;
}

.dx_w_4_container {
	width:1120px;
	margin:30px auto;
}
.dx_w_4_top {
	position: relative;
	left:140px;
}
.dx_w_4_bot {
	position: relative;
	top:-70px;
}
.dx_w_4_top,.dx_w_4_bot {
	height:300px;
}

.dx_w_4_top li,.dx_w_4_bot li {
	float: left;
	width:260px;
	height: 300px;
	margin-right: 22px;
}
.dx_w_4_top li.last_li,.dx_w_4_bot li.last_li {
	margin-right: 0;
}

.dx_w_4_top .dx_w_4_list.bg {
	background: url('../images/dx_32.png') no-repeat;
	background-size: 100% 100%;
}
.dx_w_4_top .dx_w_4_list.bg .dx_w_4_list_warp {
	padding:90px 50px;
}
.dx_w_4_list_warp {
	width:260px;
	height: 300px;
	box-sizing: border-box;
	padding:70px 50px;
	text-align: center;
	background: url('../images/dx_33.png') no-repeat;
	background-size：260px 300px;
}
.dx_w_4_list_warp.fixed_bg {
	background: url('../images/dx_32.png') no-repeat;
	background-size：260px 300px;
}
.dx_w_4_list_warp.fixed_bg p {
	color:#fff;
}
.dx_w_4_list_warp  .dx_w_4_icon {
	display: inline-block;
	width:53px;
	height:36px;
	background: url('../images/dx_41.png') center center no-repeat;
}
.dx_w_4_list_warp  .dx_w_4_icon.dx_36 {
	display: inline-block;
	width:53px;
	height:36px;
	background: url('../images/dx_36.png') center center no-repeat;
}
.dx_w_4_list_warp  .dx_w_4_icon.dx_37 {
	display: inline-block;
	width:53px;
	height:36px;
	background: url('../images/dx_37.png') center center no-repeat;
}
.dx_w_4_list_warp  .dx_w_4_icon.dx_38 {
	display: inline-block;
	width:53px;
	height:36px;
	background: url('../images/dx_38.png') center center no-repeat;
}
.dx_w_4_list_warp  .dx_w_4_icon.dx_39 {
	display: inline-block;
	width:53px;
	height:36px;
	background: url('../images/dx_39.png') center center no-repeat;
}
.dx_w_4_list_warp  .dx_w_4_icon.dx_40 {
	display: inline-block;
	width:53px;
	height:36px;
	background: url('../images/dx_40.png') center center no-repeat;
}

.dx_w_4_list_warp.fixed_bg  .dx_w_4_icon {
	display: inline-block;
	width:53px;
	height:36px;
	background: url('../images/dx_41_h.png') center center no-repeat;
}
.dx_w_4_list_warp.fixed_bg  .dx_w_4_icon.dx_36 {
	display: inline-block;
	width:53px;
	height:36px;
	background: url('../images/dx_36_h.png') center center no-repeat;
}
.dx_w_4_list_warp.fixed_bg  .dx_w_4_icon.dx_37 {
	display: inline-block;
	width:53px;
	height:36px;
	background: url('../images/dx_37_h.png') center center no-repeat;
}
.dx_w_4_list_warp.fixed_bg  .dx_w_4_icon.dx_38 {
	display: inline-block;
	width:53px;
	height:36px;
	background: url('../images/dx_38_h.png') center center no-repeat;
}
.dx_w_4_list_warp.fixed_bg  .dx_w_4_icon.dx_39 {
	display: inline-block;
	width:53px;
	height:36px;
	background: url('../images/dx_39_h.png') center center no-repeat;
}
.dx_w_4_list_warp.fixed_bg  .dx_w_4_icon.dx_40 {
	display: inline-block;
	width:53px;
	height:36px;
	background: url('../images/dx_40_h.png') center center no-repeat;
}


.dx_w_4_list_warp p {
	margin-top:20px;
	line-height: 40px;
	font-size:25px;
}
.dx_w_4_list_warp  .dx_w_4_logo {
	display: inline-block;
	width:130px;
	height:52px;
	background: url('../images/dx_35.png') center center no-repeat;
	background-size: 100%;
}
.dx_w_4_list_warp h4 {
	line-height: 50px;
	font-size:30px;
	letter-spacing: 3px;
	font-weight: bold;
	color:#fff;
}
.dx_warpper_4 .dx_btn {
	position: relative;
	top:-40px;
}

.dx_warpper_5 {
	background-color: #fff;
	padding:30px 0;
}
.dx_w_5_container {
	width:1120px;
	margin: 30px auto;
}

.dx_w_5_container .dx_w_5_list {
	position: relative;
	width:1120px;
	height:187px;
	margin-bottom: 30px;
	overflow: hidden;
}

.dx_w_5_list.list1 .dx_w_5_item-l,
.dx_w_5_list.list3 .dx_w_5_item-l {
	position: absolute;
	left:0;
	top:0;
	height:187px;
	width: 635px;
	transition: all .3s ease-out;
	-o-transition: all .3s ease-out;
	-webkit-transition: all .3s ease-out;
}
.dx_w_5_list.list1 .dx_w_5_item-r,
.dx_w_5_list.list3 .dx_w_5_item-r {
	position: absolute;
	right:0;
	top:0;
	height:187px;
	width: 485px;
	background-color: #1CA3FC;
	color:#fff;
	transition: all .3s ease-out;
	-o-transition: all .3s ease-out;
	-webkit-transition: all .3s ease-out;
}
.dx_w_5_list.list1 .dx_w_5_item-r h4,
.dx_w_5_list.list3 .dx_w_5_item-r h4,
.dx_w_5_list.list2 .dx_w_5_item-l h4 {
	margin-top:20px;
	font-size:30px;
	font-weight: bold;
	line-height: 80px;
	text-align: center;
	color:#fff;
	letter-spacing: 8px;
}
.dx_w_5_item_ctn p {
	width:0px;
	height:26px;
	line-height: 26px;
	font-size: 18px;
	overflow: hidden;
	text-align: center;
	color:#fff;
}
.dx_w_5_list.list1 .dx_w_5_item-r .dx_w_5_btnWarp,
.dx_w_5_list.list3 .dx_w_5_item-r .dx_w_5_btnWarp {
	position: absolute;
	right:132.5px;
	top:100px;
	display: inline-block;
	width:220px;
	height:26px;
	line-height: 26px;
}
.dx_w_5_list.list2 .dx_w_5_item-l .dx_w_5_btnWarp {
	position: absolute;
	left:132.5px;
	top:100px;
	display: inline-block;
	width:220px;
	height:26px;
	line-height: 26px;
}
.dx_w_5_list.list1 .dx_w_5_item-r .dx_w_5_btnWarp a,
.dx_w_5_list.list2 .dx_w_5_item-l .dx_w_5_btnWarp a,
.dx_w_5_list.list3 .dx_w_5_item-r .dx_w_5_btnWarp a {
	display: inline-block;
	width:100px;
	height:100%;
	font-size:14px;
	color:#15275C;
	text-align: center;
	border-radius: 13px;
	background-color: #fff;
	line-height: 26px;
}
.one_child {
	margin-right: 20px;
}
.dx_w_5_list.list1 .jiantou,
.dx_w_5_list.list3 .jiantou {
	position: absolute;
	left:-25px;
	top:69px;
    z-index: 99;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #1CA3FC;
}
.dx_w_5_list.list2 .jiantou {
	position: absolute;
	right:-25px;
	top:69px;
    z-index: 99;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #FFC800;
}
	
.dx_w_5_list.list1 .jiantou_icon,
.dx_w_5_list.list2 .jiantou_icon,
.dx_w_5_list.list3 .jiantou_icon {
	display: inline-block;
	width: 50px;
    height: 50px;
    background: url(../images/left_arrow.png) center center no-repeat;
    -webkit-background-size: 24px;
    background-size: 24px;
    vertical-align: top;
    cursor: pointer;
    position: relative;
    animation: btn_l 1s linear infinite;
    -webkit-animation: btn_l 1s linear infinite;
}
.dx_w_5_list.list2 .jiantou_icon {
	background: url(../images/right_arrow.png) center center no-repeat;
    -webkit-background-size: 24px;
    background-size: 24px;
}

.dx_w_5_list.list2 .dx_w_5_item-l {
	position: absolute;
	left:0;
	top:0;
	height:187px;
	width:485px;
	background-color: #FFC800;
	z-index:10;
	transition: all .3s ease-out;
	-o-transition: all .3s ease-out;
	-webkit-transition: all .3s ease-out;
}
.dx_w_5_list.list2 .dx_w_5_item-r {
	position: absolute;
	right:0;
	top:0;
	height:187px;
	width:635px;
	z-index: 9;
	transition: all .3s ease-out;
	-o-transition: all .3s ease-out;
	-webkit-transition: all .3s ease-out;
}
.dx_w_5_item-l img,
.dx_w_5_item-r img {
	width:100%;
	height:100%;
}

@keyframes btn_l {
    0% {left:1px;}
    20% {left:3px;}
    40% {left:5px;}
    60% {left:3px;}
    80% {left:1px;}
    100% {left:-1px;}
}

@-webkit-keyframes btn_l {
    0% {left:1px;}
    20% {left:3px;}
    40% {left:5px;}
    60% {left:3px;}
    80% {left:1px;}
    100% {left:-1px;}
}

.m_s_4 {
	padding: 30px 0;
	background-color: rgb(238, 238, 238);
}
.m_s_4>h3 {
	font-size: 48px;
	color:#1DA3F9;
	text-align: center;
	letter-spacing: 5px;
	line-height: 80px;
}
.m_s_4-warpper {
	width:1120px;
	margin: 140px auto 30px; 
}
.m_s_4-warpper .m_s_4_ms_l {
	float: left;
}
.m_s_4-warpper .m_s_4_ms_r {
	float: right;
}

.m_s_4-warpper .m_s_4-ms-list {
	width: 550px;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
}
.m_s_4-warpper .m_s_4-ms-list:hover {
	-webkit-box-shadow: 0 0 8px #aaa;
	        box-shadow: 0 0 8px #aaa;
	position: relative;
	top:-1px;
}
.m_s_4-warpper .m_s_4-ms-list .ms_list_head {
	height:140px;
	background-color: #1DA3F9;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	position: relative;
}

.m_s_4-warpper .m_s_4-ms-list .ms_list_head .ms-img {
	position: absolute;
	bottom:0;
	left:60px;
	-webkit-transition: all .2s ease-in;
    -webkit-transition: all .5s ease-in;
    -o-transition: all .5s ease-in;
    transition: all .5s ease-in;
	-ms-transform: translateX(0);
	    transform: translateX(0);
	-webkit-transform: translateX(0);
}
.m_s_4-warpper .m_s_4-ms-list:hover .ms_list_head .ms-img {
	-ms-transform: translateX(20px);
	    transform: translateX(20px);
	-webkit-transform: translateX(20px);
}

.m_s_4-warpper .m_s_4-ms-list .ms_list_head .ms-name {
	position: absolute;
	right:100px;
	top:35px;
	bottom:35px;
	width:150px;
}
.m_s_4-warpper .m_s_4-ms-list .ms_list_head .ms-name strong {
	display: block;
	line-height: 40px;
	color:#fff;
	font-size:24px;
	border-bottom: 1px solid #fff;
	letter-spacing: 5px;
	text-align: left;
}
.m_s_4-warpper .m_s_4-ms-list .ms_list_head .ms-name span {
	display: block;
	line-height: 30px;
	color:#fff;
	font-size:20px;
	text-align: right;
}

.m_s_4-warpper .m_s_4-ms-list .ms_list_section {
	padding:40px 15px 40px 15px;
	-webkit-box-sizing:border-box;
	        box-sizing:border-box;
	background-color: #fff;
	/* border-bottom-right-radius: 8px;
	border-bottom-left-radius: 8px; */
	position: relative;
	overflow: hidden;
}
.m_s_4-warpper .m_s_4-ms-list .ms_list_section .ms_list_disc {
	float: left;
	width:45%;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	padding-right: 20px;
	font-size:16px;
}
.m_s_4-warpper .m_s_4-ms-list .ms_list_section .ms_list_disc p {
	line-height: 23px;
}
.m_s_4-warpper .m_s_4-ms-list .ms_list_section .ms_list_disc p strong {
	color:#1DA3F9;
}

.m_s_4-warpper .m_s_4-ms-list .ms_list_section .ms_list-video {
	float: right;
	width:55%;
	cursor: pointer;
}
.m_s_4-warpper .m_s_4-line {
	position: absolute;
	bottom:0;
	left:0;
	height:2px;
	width:100%;
	background-color: #bbb;
	margin-top:20px;
	overflow: hidden;
}
.m_s_4-line .line_red {
	position: absolute;
	left:0;
	right:0;
	top:0;
	bottom:0;
	background-color: #FF0000;
	-webkit-transition: all .2s ease-in;
    -webkit-transition: all .5s ease-in;
    -o-transition: all .5s ease-in;
    transition: all .5s ease-in;
	-ms-transform: translateX(-550px);
	    transform: translateX(-550px);
	-webkit-transform: translateX(-550px);
}
.m_s_4-warpper .m_s_4-ms-list:hover .m_s_4-line .line_red {
	-ms-transform: translateX(0);
	    transform: translateX(0);
	-webkit-transform: translateX(0);
}






.freeWarpper {
	background-color: #60BEFD;
	height:186px;
	margin-bottom: 0;
}
.freeTopCon {
	width:1120px;
	margin:0 auto;
}
.freeImg {
	position: relative;
	top:-70px;
	float: left;
}
.freeFrom {
	float: right;
	margin-left:100px;
	margin-top:28px;

}
.freeFrom h3 {
	font-size:34px;
	line-height: 60px;
	color:#fff;
	letter-spacing: 5px;
	margin-bottom: 15px;
}

.freeFrom input {
	display: inline-block;
	outline: none;
	border:none;
	width:200px;
	height:40px;
	line-height: 40px;
	font-size:18px;
	border-radius: 5px;
	text-align: left;
	cursor:text;
	padding:0 10px;
	box-sizing: border-box;
	float: left;
	margin-right:75px;
}
.freeFrom input[type='submit'] {
	background-color: #FFC800;
	color:#011B30;
	width:165px;
	text-align: center;
	cursor: pointer;
	margin-right: 0;
}

.dx_warpper_6 {
	margin-top:30px;
}
.dx_w_6_container {
	width:1120px;
	margin:30px auto;
}
.dx_w_6_nav {
	width:100%;
	height:60px;
	background-color: #EEEEEE;
	position: relative;
}
.dx_w_6_nav li {
	float: left;
	width:20%;
	height:60px;
	text-align: center;
	line-height: 60px;
	color:#333;
	font-size:24px;
	cursor: pointer;
	position: relative;
	z-index: 10;
}
.dx_w_6_nav li.active {
	color:#fff!important;
}
.dx_w_6_main {
	margin-top:20px;
	position: relative;
	width:100%;
	height:488px;
	overflow: hidden;
}
.dx_w_6_main li {
	display: none;
	width:100%;
	height:488px;
	position: absolute;
	left:0;
	top:0;
}
.dx_w_6_main li.active {
	display: block;
}
.dx_w_6_container .dx_w_6_nav .dx_w_6_bg_btn {
	position: absolute;
	width:20%;
	height:60px;
	left:0;
	top:0;
	background-color: #FFC800;
	transition:all .3s linear;
	-o-transition:all .3s linear;
	-webkit-transition:all .3s linear;
}
.dx_w_6_list_l {
	width:310px;
	margin-right:10px;
	height:488px;
	overflow: hidden;
}
.dx_w_6_list img {
	-webkit-transition:all .5s linear;
	-o-transition:all .5s linear;
	transition:all .5s linear;
}
.dx_w_6_list img:hover {
	-webkit-transform: scale(1.1);
	    -ms-transform: scale(1.1);
	        transform: scale(1.1);
}
.dx_w_6_list_l img {
	width:100%;
	height:100%;
}
.dx_w_6_list_m {
	width:325px;
	margin-right: 20px;
	height:488px;
}
.dx_w_6_list_m span {
	display: block;
	width:100%;
	height:239px;
	overflow: hidden;
}
.dx_w_6_list_m span.fisrt {
	margin-bottom: 10px;
}
.dx_w_6_list_m span img {
	width:100%;
	height:100%;
}

.dx_w_6_list_r {
	width:455px;
	height:488px;
	background-color: #eee;
}
.dx_w_6_list_r_ctn {
	padding: 20px 50px;
}
.dx_w_6_list_r_ctn h3 {
	font-size:54px;
	color:#ffc800;
	line-height: 100px;
	border-bottom: 1px solid #ffc800;
	text-align:center;
	margin-bottom: 20px;
}
.dx_w_6_list_r_ctn p {
	font-size: 22px;
	line-height: 56px;
	color:#333;
	text-align: center!important;
}
.dx_w_6_list_r_ctn .dx_w_6_btn {
	margin-top:50px;
	display: block;
	width:100%;
	height:38px;
	line-height: 38px;
	background-color: #ffc800;
	text-align: center;
	font-size:20px;
	color:#4D4A4A;
	border-radius: 19px;
	outline: none;
}
.dx_w_6_list_r_ctn .dx_w_6_btn:hover {
	color:#fff;
	background-color: #1CA3FC;
}

.dx_warpper_7 {
	background-color: #eee;
	padding-bottom: 120px;
}
.dx_w_7_container {
	width:1120px;
	margin:30px auto;
}
.dx_w_7_l {
	width:660px;
	height:380px;
}
.cost {
	border-collapse:collapse;
	width:660px;
	height:380px;
}
.cost td{
	border:1px solid #64BDF7;
	box-sizing: border-box;
	width:110px;
	height:30px;
	text-align: center;
	line-height: 30px;
	font-size:14px;
}
.cost th {
	height:44px;
	line-height: 44px;
	text-align: center;
	font-size:18px;
	letter-spacing: 5px;
	background-color: #64BDF7;
	color:#fff;
}
.bgl {
	background-color: #DBE7EF;
}
.cost td a {
	display: inline-block;
	width:180px;
	height:28px;
	border-radius: 14px;
	line-height: 28px;
	text-align: center;
	font-size:14px;
	color:#142453;
	background-color: #ffc800;
}
.cost td a:hover {
	background-color: #1CA3FC;
	color:#fff;
}
.first {
	margin-right: 15px;
}
.dx_w_7_r {
	height:380px;
	width:440px;
	text-align: center;
}
.dx_w_7_r_content {
	width: 440px;
	height:325px;
	background-color: #FFC800;
}
.dx_w_7_r_content h4 {
	padding:30px 50px 0 50px;
	font-size:36px;
	height:36px;
	line-height: 36px;
	color:#fff;
	text-align: justify;
	text-align-last: justify;
}	
.dx_w_7_r_content h4 span {
	display: inline-block;
	vertical-align: bottom;
	font-size:68px;
	color:red;
	position: relative;
	top:10px;
	text-shadow: -5px 0 0 rgba(0,0,0,.3);
}
.dx_w_7_r_content h3 {
	margin-top:120px;
	padding:0 50px;
	font-size:72px;
	line-height: 80px;
	height:80px;
	color:#fff;
	text-align: justify;
	text-align-last: justify;
	text-shadow: -5px 0 0 rgba(0,0,0,.3);
}
.dx_w_7_r_btn {
	margin-top:15px;
}
.dx_w_7_r_btn a {
	width:200px;
	height: 38px;
	line-height: 36px;
	background-color: #fff;
	text-align: center;
	border-radius: 19px;
	color:#0B1E56;
	box-sizing: border-box;
	border:1px solid #0B1E56;
	font-size: 20px;
}
.dx_w_7_r_btn a.active {
	color:#fff;
	background-color: #1CA3FC;
	border-color: #1CA3FC;
}
.flow_box {
	width:1120px;
	margin:50px auto 0;
}
.dx_warpper_8 {
	margin-top: 50px;
}
.dx_w_8_container {
	width:1120px;
	margin:30px auto;
	height:290px;
	position: relative;
}
.dx_w_8_container li {
	width:305px;
	height:290px;
	box-sizing: border-box;
	padding:40px;
}
.dx_w_8_container li h4 {
	font-size:22px;
	text-align: center;
	line-height: 60px;
}
.dx_w_8_container li a {
	display: block;
	height:34px;
	line-height: 34px;
	color:#0F242E;
	background-color: #ffc800;
	text-align: center;
	border-radius: 17px;
	font-size: 18px;
	margin-top:55px;
}
.dx_w_8_container .other_list-l {
	position: absolute;
	top:0;
	left:0;
}
.dx_w_8_container .other_list-m {
	position: absolute;
	left:407.5px;
	top:0;
}
.dx_w_8_container .other_list-r {
	position: absolute;
	right:0;
	top:0;
}
.line_bot {
	border-bottom: 1px solid #FF4545
}
.dx_w_8_container li:hover {
	box-shadow: 0 0 10px rgba(0,0,0,.4);
}
.dx_w_8_container li:hover a {
	background-color: #1CA3FC;
	color:#fff;
}


/* 翻牌子css */


.flip-container {
	-webkit-perspective: 1000;
	        perspective: 1000;
}

.flip-container:hover .flipper, .flip-container.hover .flipper {
	-webkit-transform: rotateY(180deg);
	        transform: rotateY(180deg);
}

.flip-container, .front, .back {
	width: 260px;
	height: 300px;
}

.flipper {
	-webkit-transition: 0.6s;
	-o-transition: 0.6s;
	transition: 0.6s;
	-webkit-transform-style: preserve-3d;
	        transform-style: preserve-3d;

	position: relative;
}

.front, .back {
	-webkit-backface-visibility: hidden;
	        backface-visibility: hidden;

	position: absolute;
	top: 0;
	left: 0;
}
.front {
	z-index: 2;
}

.back {
	-webkit-transform: rotateY(180deg);
	        transform: rotateY(180deg);
}

.ms-video-fix {
	position: fixed;
	top:0;
	left:0;
	bottom:0;
	right:0;
	background: rgba(0,0,0,.8);
	z-index: 999999999999;
}
.ms-video-warper {
	width:970px;
	margin:70px auto 0;
}

.hide-icon {
    height: 48px;
    width: 48px;
    background: hsla(0, 0%, 100%, .2);
    text-align: center;
    position: fixed;
    top: 70px;
    left: 50%;
    margin-left: 500px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding-left: 2px;
    border-radius: 2px;
    cursor: pointer;
}

.hide-icon i {
    border: 1px solid #fff;
    display: inline-block;
    height: 37px;
    margin-top: 5px;
}
.hide-icon i:first-child {
    transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -webkit-transform-origin: 0 49%;
    -ms-transform-origin: 0 49%;
        transform-origin: 0 49%;
}
.hide-icon i:last-child {
    -webkit-transform-origin: 0 42%;
    -ms-transform-origin: 0 42%;
        transform-origin: 0 42%;
    transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -o-transform: rotate(45deg);
}
video {outline: none;}
.vjs-big-play-button {
	display: none!important;
}
.vjs-control-bar {
	padding-top:5px!important;
}
.vjs-remaining-time-display {
	margin-top:10px!important
}

.ms-video-fix {
	display: none;
}
*::--webkit-media-controls-play-button {
    display: none!important;
    -webkit-appearance: none;
}

*::-webkit-media-controls-start-playback-button {
    display: none!important;
    -webkit-appearance: none;
}