@charset "utf-8";
/* CSS Document */
.title{width:100%;heigth:60px;text-align:center;}
.i1{margin-top:150px;margin-left:-30px;}
.i2{    display: block;
    width: 8%;
    margin: 0 auto;
    position: relative;
    top: -24px;}

.t1{width:220px;height:320px;overflow:hidden;position:relative;transition:top 2s;}
.t1 img { height:320px;border:none;}
.t1 span{background:#000;width:220px;height:320px;position:absolute; top:240px;opacity:0.7;color:#FFF;padding:20px 10px 0 10px;box-sizing:border-box;z-index:99;}
.t1 h2{font-size:16px;font-weight:normal;line-height:26px;height:26px;overflow:hidden;}
.t1 span p{font-size:11px;font-weight:normal;line-height:26px;width:198px;}
.t1:hover span{top:0px;}
.t1{float:left;margin: 0 2px;}
.t2{margin-right:5px;}

.chooseC-cont-d1 li{margin-bottom:10px;}
.img2{width:1120px;height:100px;margin:0 auto;padding-bottom:140px;}